<div class="col-md-6">
<h1>Complete the form</h1>

<p>Pick Your Pout is a fun way to experiment with different color choices. The suggestions are based upon your skin tone, color preferences and events. There are over 36 colors available but the amazing part is these colors can be layered to create custom looks!!! LipSense encourages you to have fun, experiment and feel beautiful.</p>

<%= link_to "Start Here", welcome_start_survey_path, class:"btn btn-default" %>
</div>