<head>
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
    <style>
      body {
        font-family: 'Alfa Slab One', cursive;
        font-size: 95px;
      }
    </style>
</head>
<body>
<h1 class='text-center'>Pick Your Pout</h1>
<p class='lead text-center'>This is where I write about LipSense and the 36 colors available.</p>
<button class='btn btn-primary'>Get Started</button>
</body>