<body>
  <h1 class='text-center'>Pick Your Pout</h1>
  <p class='lead text-center'>LipSense has over 36 colors availabe in its long-lasting, waterproof, vegan friendly and non-gmo formula. This color will last 4 to 18 hours and won't smudge or budge. To help you find a place to start with color selection, we've put together a fun list of questions that will give you a suggested color and gloss. Keep in mind that the color and gloss are a kit - you want to seal the color with a gloss and for those of you that don't want a glossy finish, there is a matte gloss available. To get started just sign in and start the questions.</p>
  <button class='btn btn-primary'><%= link_to "Sign Up", new_user_registration_path %></button>
</body>
