<% if @suggestions.empty? %><h3>Looks like you don't have any suggestions yet. Get started here. </h3>
<button type="button" class="btn btn-default"><%= link_to "Start Here", question_path(1) %></button>
<% else %>
<% @suggestions.each do |suggestion| %>
<%= suggestion.text %>
<% end %>
<% end %>